<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Angular Forms</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a [routerLink]="['/template']" class="nav-item nav-link " href="#">Template Driven <span class="sr-only">(current)</span></a>
        <a [routerLink]="['/reactive']" class="nav-item nav-link" href="#">Reactive</a>

      </div>
    </div>
  </nav>


<router-outlet></router-outlet>
